article h2 {
    font-size: 2rem;
}
article h3 {
    font-size: 1.8rem;
}
math {
    font-size: 1.6rem;
    min-height: 2rem;
}
#notebook {
    margin: 1rem;
}
article > button, #notebook > button {
    background: none repeat scroll 0% 0% red;
    border-radius: 0.8rem;
    font-style: normal;
    height: 1.6rem;
    line-height: 1.6rem;
}
